


*
{margin: 0; padding: 0; box-sizing: border-box;}


body{
    background-color: #2F2F4F	;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar-logo{
    display: flex;
    justify-content: space-between;
    margin: .5rem;

}
.navbar-toggle{
    display: flex;
    margin-right: 1rem;
    

}