@import url(/style.css);
.sq-img {
    width: 8rem;
    height: 8rem;
    border-radius: 5px;
    margin: 1rem;
}

.rd-img {
    width: 8rem;
    height: 8rem;
    border-radius: 40px;
    margin: 1rem;
}

.width-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 12px;
}