<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component library</title>
    <link rel="stylesheet" href="avatar.css">
    <script src="https://kit.fontawesome.com/d5eef1e966.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="navbar-logo">
            <div class="navbar-logo-title">
                <h2>KERNEL UI</h2>
            </div>
            <div class="navbar-toggle">
                <div class="navbar-links ">
                    <a href="#">DOCS</a>
                </div>
                <div class="navbar-links ">
                    <a href="#"> HOME</a>
                </div>
                <div class="navbar-links ">
                    <a href="#"> GITHUB</a>
                </div>

            </div>

        </div>
    </div>
    <div class="container">
        <div class="aside-container">
            <div class="aside-header">
                <h2>Get Started</h2>
            </div>
            <div class="aside-list">
                <ul>
                    <li>
                        <a href="#">INTRODUCTION</a>
                    </li>
                    <li>
                        <a href="#">TYPOGRAPHY</a>
                    </li>
                    <li>
                        <a href="#">COLORS</a>
                    </li>
                </ul>

                <div class="aside-header">
                    <h2>Components</h2>
                    <div class="aside-list">
                        <ul>
                            <li>
                                <a href="#">Alert</a>
                            </li>
                            <li>
                                <a href="#">Avatar</a>
                            </li>
                            <li>
                                <a href="#">Badge</a>
                            </li>
                            <li>
                                <a href="#">Button</a>
                            </li>
                            <li>
                                <a href="#">Card</a>
                            </li>
                            <li>
                                <a href="#">Image</a>
                            </li>
                            <li>
                                <a href="#">Input</a>
                            </li>
                            <li>
                                <a href="#">Nevigation</a>
                            </li>
                            <li>
                                <a href="#">Toast</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="avatar-header-container">
            <div class="aside-body heading">
                <h2>Avatar</h2>
            </div>
            <div class="aside-body para">
                <p>
                    Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for
                    'container' objects — projects, spaces, repositories, etcetera — to give them a recognisable visual
                    identity.
                </p>
            </div>
            <div class="avatar-header">
                <div class="avatar avatar--md">
                    <img class="avatar-img" src="/image/ded.jpg" alt="Dan Abrahmov">
                </div>
                <div class="avatar avatar--md">
                    <img class="avatar-img" src="/image/image3.jpg" alt="Kola Tioluwani">
                </div>
                <div class="avatar avatar--md">
                    <img class="avatar-img" src="/image/iron.png" alt="Kent Dodds">
                </div>
                <div class="avatar avatar--md">
                    <img class="avatar-img" src="/image/image1.jpg" alt="Ryan Florence">
                </div>
                <div class="avatar avatar--md">
                    <img class="avatar-img" src="/image/image4.jpg" alt="Ryan Florence">
                </div>
                <div class="avatar avatar--md">
                    <img class="avatar-img" src="/image/image3.jpg" alt="Ryan Florence">
                </div>
            </div>
            <div class="aside-body heading">
                <h2> profile Avatar</h2>
            </div>
            <div class="aside-body para">
                <p>
                    Profile Avatars can be created using the class 'avatar', inside the img tag.
                </p>
            </div>
            <div class="avatar-header">
                <div class="avatar">
                    <img class=" avatar--small" src="/image/image1.jpg" alt="Dan Abrahmov">
                </div>
                <div class="avatar ">
                    <img class="avatar--medium" src="/image/image1.jpg" alt="Dan Abrahmov">
                </div>
                <div class="avatar ">
                    <img class="avatar--large" src="/image/image1.jpg" alt="Dan Abrahmov">
                </div>
                <div class="avatar ">
                    <img class="avatar--xlarge" src="/image/image1.jpg" alt="Dan Abrahmov">
                </div>
                <div class="avatar ">
                    <img class="avatar--xxlarge" src="/image/image1.jpg" alt="Dan Abrahmov">
                </div>
            </div>
            <div class="aside-body heading">
                <h2> profile Avatar</h2>
            </div>
            <div class="aside-body para">
                <p>
                    Profile Avatars can be created using the class 'avatar', inside the img tag.
                </p>
            </div>
            <div class="avatar-header">
                <img src="/image/ded.jpg" alt="image" class="sq-img" />
                <img src="/image/iron.png" alt="image" class="sq-img" />
                <img src="/image/image3.jpg" alt="image" class="sq-img" />





            </div>

        </div>





</body>

</html>